<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="browserType" value="chrome"/>
    <parameter name="appURL" value="https://demo.workdo.io/hrmgo/login"/>
    <test name="D:/Tester/ProjectHRM">
        <classes>
            <class name="com.testcases.LoginPageTest"/>
            <class name="com.testcases.SideBarTest"/>
            <class name="com.testcases.TimeSheetTest"/>
            <class name="com.testcases.CookieTest"/>
            <class name="com.testcases.ProfilePageTest"/>




<!--            <class name="com.testcases.TimeSheetTest">-->
<!--                <methods>-->
<!--                    <include name="FilterByEmployee"/>-->
<!--                </methods>-->
<!--            </class>-->

        </classes>
    </test>
</suite>